footer {
  .footer-content{
    display: grid;
    grid-template-columns: 34rem 1fr;
    gap: 4rem;
    color: white;

    .description-part{
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo-title{
        .slogan{
          position: relative;
          font-size: 4rem;
          font-weight: 500;
          display: flex;
          gap: 7rem;

          img{
            position: absolute;
            left: 58%;
            transform: translateX(-50%);
            width: 5rem;
            top: -0.4rem;
          }
        }
      }

      .contacts-block, .working-hours{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
          margin-bottom: 1.2rem;
          font-weight: 500;
          font-size: 2.4rem;
        }

        .description{
          flex-direction: column;
          display: flex;
          align-items: center;
          gap: .6rem;

          .phones-list{
            display: flex;
            flex-direction: column;
            gap: .6rem;
          }

          .messengers{
            display: flex;
            gap: 1rem;
            margin-top: 0.5rem;
            a {
              svg{
                fill: white;
                width: 3rem;
                height: 3rem;
              }
            }
          }
        }
      }
    }

    .map-part{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .ymaps-2-1-79-map {
        width: 100%!important;
      }
    }
  }
}
