<div class="fourth_block ">
  <div class="container">

    <h2>Почему ремонт у нас это выгодно?</h2>

    <p class="description">Мы сделаем ремонт точно по вашим пожеланиям без лишних затрат. Опытные мастера, гибкие решения и честные цены — ваш идеальный ремонт начинается здесь!</p>

    <div class="advantages-list">
      <div class="advantages-item">
        <div class="advantages-item__title">
          Работа с заказчиком
        </div>
        <div class="advantages__item__description">
          Внимательно выслушаем все ваши пожелания и предложим оптимальные решения
        </div>
        <div class="advantages-item-counter">
          01.
        </div>
      </div>
      <div class="advantages-item">
        <div class="advantages-item__title">
          Гибкость
        </div>
        <div class="advantages__item__description">
          Наши специалисты справятся с задачами любой сложности и подстроятся под ваши требования
        </div>
        <div class="advantages-item-counter">
          02.
        </div>
      </div>
      <div class="advantages-item">
        <div class="advantages-item__title">
          Сокращение расходов
        </div>
        <div class="advantages__item__description">
          Сделаем качественный ремонт по разумной цене без переплат и скрытых затрат
        </div>
        <div class="advantages-item-counter">
          03.
        </div>
      </div>
    </div>
  </div>
</div>