<header>
  <div class="header-container container">
    <div class="logo">
      <a href="/">
        <img
          src="./assets/images/logo.png"
          alt="Ви Сервис - ремонт грузовиков в Витебске"
        />
      </a>
    </div>

    <button id="scrollToTopBtn" title="Наверх"></button>

    <nav class="navigation">
      <ul>
        <li><a href="./services.html">Услуги</a></li>
      </ul>
    </nav>

    <div class="about-us-info-block">
      <div class="working-hours">
        <p>7:00 - 24:00</p>
        <p>Без выходных</p>
      </div>

      <a href="https://yandex.by/maps/-/CHR-54NY" target="_blank" class="address hover">
        <svg>
          <use xlink:href="assets/images/sprite.svg#map"></use>
        </svg>
        <span>Гагарина 68</span>
      </a>

      <div class="phone hover" id="phones-modal">
        <svg>
          <use xlink:href="assets/images/sprite.svg#cellphone"></use>
        </svg>
        <span>Контакты</span>
      </div>
    </div>
  </div>
</header>
