<div id="modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-header">
      <p>Связаться с нами</p>
      <svg id="close-modal">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="modal-body">
      <div class="phone-numbers">
        <p class="title">Сотовые телефоны:</p>
        <p class="phone"><a href="tel:+375339164191">+375 (33) 916-41-91</a> <span>(МТС)</span></p>
        <p class="title">Мессенджеры:</p>
        <div class="messenger">
          <svg class="telegram">
            <use xlink:href="assets/images/sprite.svg#telegram"></use>
          </svg>
          <a href="https://t.me/+375339164191" target="_blank" rel="noopener noreferrer">+375 (33) 916-41-91</a>
        </div>
        <div class="messenger">
          <svg class="whatsapp">
            <use xlink:href="assets/images/sprite.svg#whatsapp"></use>
          </svg>
          <a href="https://wa.me/375339164191" target="_blank" rel="noopener noreferrer">+375 (33) 916-41-91</a>
        </div>
        <div class="messenger">
          <svg>
            <use xlink:href="assets/images/sprite.svg#viber"></use>
          </svg>
          <a href="viber://chat?number=+375339164191" target="_blank" rel="noopener noreferrer">+375 (33) 916-41-91</a>
        </div>
      </div>
    </div>
  </div>
</div>