<div class="second-block">
  <div class="container">
    <div class="left-part">
      <h2 class="title">Ремонт и обслуживание грузовых автомобилей всех марок</h2>
      <div class="description">
        <h3 class="text">
          Автосервис осуществляет ремонт и техническое
          обслуживание грузовиков следующих марок:
        </h3>
        <ul itemscope itemtype="https://schema.org/ItemList">
          <li itemprop="itemListElement">Iveco</li>
          <li itemprop="itemListElement">MAN</li>
          <li itemprop="itemListElement">Mercedes-Benz</li>
          <li itemprop="itemListElement">Scania</li>
          <li itemprop="itemListElement">Renault Trucks</li>
          <li itemprop="itemListElement">Volvo</li>
          <li itemprop="itemListElement">Ford</li>
          <li itemprop="itemListElement">Dongfeng</li>
          <li itemprop="itemListElement">Howo</li>
          <li itemprop="itemListElement">DAF</li>
          <li itemprop="itemListElement">ГАЗ</li>
          <li itemprop="itemListElement">УАЗ</li>
          <li itemprop="itemListElement">МАЗ</li>
        </ul>
        <p>
          Наш сервисный центр предлагает полный комплекс услуг по ремонту грузовых автомобилей европейского (IVECO, MAN,
          Mercedes, Scania, Volvo, DAF, Renault), российского (ГАЗ, УАЗ, МАЗ) и китайского (Dongfeng, Howo)
          производства. Используем оригинальные запчасти и современное диагностическое оборудование.
        </p>
      </div>
    </div>
    <div class="right-part" aria-label="Обслуживаемые марки грузовиков">
      <div class="brands-scroller">
        <div class="scroll-track">
          <div class="scroll-group">
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/iveco-logo.png"
                alt="Ремонт грузовиков Iveco в Витебске"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/man-logo.png"
                alt="Ремонт грузовиков MAN в Витебске"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/mercedes-logo.png"
                alt="Ремонт грузовиков Mercedes в Витебске"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/scania-logo.png"
                alt="Ремонт грузовиков Scania в Витебске"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/renault-logo.png"
                alt="Ремонт грузовиков Renault в Витебске"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/daf-logo.png"
                alt="Ремонт грузовиков DAF в Витебске"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/gaz-logo.png"
                alt="Ремонт грузовиков ГАЗ в Витебске"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/uaz-logo.png"
                alt="Ремонт грузовиков УАЗ в Витебске"
                loading="lazy"
              />
            </div>
          </div>
          <div class="scroll-group">
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/iveco-logo.png"
                alt="Логотип Iveco"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/man-logo.png"
                alt="Логотип MAN"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/mercedes-logo.png"
                alt="Логотип Mercedes-Benz"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/scania-logo.png"
                alt="Логотип Scania"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/renault-logo.png"
                alt="Логотип Renault Trucks"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/daf-logo.png"
                alt="Логотип DAF"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/gaz-logo.png"
                alt="Логотип ГАЗ"
                loading="lazy"
              />
            </div>
            <div class="imgBox">
              <img
                src="./assets/images/auto-logotypes/uaz-logo.png"
                alt="Логотип УАЗ"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
