<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no"
/>
<meta name="format-detection" content="telephone=no" />
<meta name="robots" content="index, follow" />
<meta
  name="description"
  content="Ремонт и обслуживание грузовых автомобилей в Витебске. Ремонт двигателей, трансмиссии, ходовой части. СТО Витебск."
/>
<meta
  property="og:title"
  content="Ремонт грузовиков в Витебске"
/>
<meta
  property="og:description"
  content="СТО в Витебске. Ремонт грузовиков"
/>
<meta
  property="og:image"
  content="https://v-truck-service.by/assets/images/logo.png"
/>
<meta property="og:url" content="https://v-truck-service.by/" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<title>Ремонт грузовых автомобилей в Витебске</title>
<link
  rel="icon"
  type="image/png"
  href="https://v-truck-service.by/assets/images/favicon/favicon-96x96.png"
  sizes="96x96"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href="https://v-truck-service.by/assets/images/favicon/favicon.svg"
/>
<link rel="shortcut icon" href="https://v-truck-service.by/assets/images/favicon/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="https://v-truck-service.by/assets/images/favicon/apple-touch-icon.png"
/>
<link rel="manifest" href="https://v-truck-service.by/assets/images/favicon/site.webmanifest" />
<link rel="canonical" href="https://v-truck-service.by" />
<link rel="stylesheet" href="https://v-truck-service.by/assets/css/style.min.css" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "AutoRepair",
    "name": "Ви сервис",
    "image": "https://v-truck-service.by/assets/images/logo.png",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "ул. Гагарина 68",
      "addressLocality": "Витебск",
      "addressCountry": "BY"
    },
    "telephone": "+375339164191",
    "openingHours": "Mo-Su 07:00-24:00",
    "priceRange": "$$"
  }
</script>