<meta charset="UTF-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no"
/>
<meta name="format-detection" content="telephone=no"/>
<meta name="robots" content="index, follow"/>
<meta
  name="description"
  content="Профессиональный ремонт и обслуживание грузовых автомобилей в Витебске. Ремонт двигателей, трансмиссии, ходовой части. Работаем со всеми марками грузовиков. Гарантия качества."
/>
<meta
  property="og:title"
  content="Ремонт грузовиков в Витебске | Профессиональный сервис"
/>
<meta
  property="og:description"
  content="Качественный ремонт грузовых автомобилей всех марок в Витебске"
/>
<meta
  property="og:image"
  content="https://вашсайт.by/assets/images/social-preview.jpg"
/>
<meta property="og:url" content="https://вашсайт.by/"/>
<meta property="og:type" content="website"/>
<meta name="twitter:card" content="summary_large_image"/>
<title>Ремонт грузовых автомобилей в Витебске | Профессиональный сервис</title>
<link rel="icon" type="image/png" href="./assets/images/favicon/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/svg+xml" href="./assets/images/favicon/favicon.svg"/>
<link rel="shortcut icon" href="./assets/images/favicon/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-touch-icon.png"/>
<link rel="manifest" href="./assets/images/favicon/site.webmanifest"/>
<!-- TODO REPLACE -->
<link rel="canonical" href="v-truck-service.by"/>
<link rel="stylesheet" href="assets/css/style.min.css"/>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "AutoRepair",
    "name": "Название вашей компании",
    "image": "./assets/images/logo.png",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "ул. Гагарина 68",
      "addressLocality": "Витебск",
      "addressCountry": "BY"
    },
    "telephone": "+375339164191",
    "openingHours": "Mo-Su 07:00-24:00",
    "priceRange": "$$"
  }
</script>
